{% extends "layout.html" %}

{% block title %}
Change Password
{% endblock %}

{% block main %}
<form action="/change_password" method="post">
    <div class="mb-3">
        <input required autocomplete="off" autofocus type="text" name="username" placeholder="Username"
            class="form-control mx-auto w-auto">
    </div>
    <div class="mb-3">
        <input required autocomplete="off" type="password" name="oldPassword" placeholder="Old Password"
            class="form-control mx-auto w-auto">
    </div>
    <div class="mb-3">
        <input required autocomplete="off" type="password" name="newPassword" placeholder="New Password"
            class="form-control mx-auto w-auto">
    </div>
    <div class="mb-3">
        <input required autocomplete="off" type="password" name="confirmation" placeholder="Confirm password"
            class="form-control mx-auto w-auto">
    </div>
    <button class="btn btn-primary" type="submit">Change Password</button>
</form>
{% endblock %}
