{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}

<head>
    <style>

    </style>
</head>

<form action="/index" method="post">
    <table class="table table-striped table-hover"
        style="margin: auto; width: 100%; max-width: 1500px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); border-radius: 1rem;">
        <thead>
            <tr>
                <th class="text-start">Name</th>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for row in stocks %}
            <tr>
                <td class="text-start">{{ row.name }}</td>
                <td class="text-start">{{ row.symbol }}</td>
                <td class="text-end">{{ row.totalShares }}</td>
                <td class="text-end">{{ row.price | usd}}</td>
                <td class="text-end">{{ row.total | usd}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4" scope="row"><b>Cash</b></td>
                <td class="border-0 text-end">{{ cash }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4" scope="row"><b>TOTAL:</b> </td>
                <td class="border-0 text-end">{{ total }}</td>
            </tr>
        </tfoot>
    </table>
</form>
{% endblock %}
